@charset 'UTF-8';

.information_sub_title{
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
}

.information_link_box {
    width: 30rem;
    margin: 12rem auto 18rem; 
}

.information_link_anchor{
  /* text-decoration: underline; */
  width: 24rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 2.8rem;
  display: block;
  border: .1rem solid #0066cc;
  background-color: #0066cc;
  border-radius: .8rem;
  text-align-last: justify;
  padding: 1rem 2rem;
  margin: 0 auto 4rem;
}

.information_link_anchor:hover{
  cursor: pointer;
}