@charset 'utf-8';

.wrapper{
  width: 45vw;
  margin: 0 auto;
}

.main_kokoro_title{
  display: flex;
  overflow: hidden;
  color: #aa8f7b;
  margin-top: 7.5rem;
  text-shadow: 0.6rem .6rem rgba(0, 0, 0, 0.2);
}

.main_kokoro_title span{
  display: block;
  /* transform: translate(0, 105%); */
  transition: transform cubic-bezier(.0215, .061, .0355, 1) .5s;
  /* color: black; */
  font-family: 'Josefin Sans', sans-serif;
  font-size: 6.0rem;
  font-weight: bold;
}

.main_main_image_area{
  margin-top: 7rem;
  text-align: center;
}

.main_main_image{
  margin: 0 auto;
  width: 13rem;
}

.main_main_area{
  width: 50rem;
  height: 37.5rem;
  background-color: #fcfcfc;
  border: .01rem solid rgb(211, 211, 211);
  margin: 2rem auto 16rem;
  border-radius: 1.6rem;
}

.main_main_title{
  font-size: 3.5rem;
  font-weight: bold;
  color: black;
  text-align: center;
  text-shadow: 0 1.0rem .8rem rgba(0, 0, 0, 0.4);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.main_main_menu_area{
  width: 40rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.main_main_menu{
  width: 18rem;
  border: .1rem solid gray;
  color: black;
  font-size: 2.0rem;
  font-weight: bold;
  text-align: center;
  margin-top: 3rem;
  padding: 3.0rem 2.0rem;
  border-radius: .8rem;
  transition: background-color 1s;
}

.main_main_menu:hover{
  background-color: gray;
  color: white;
  cursor: pointer;
  transition: .8s;
}




