@charset 'UTF-8';

.tab_sub_title{
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
}

.tab_menu_area{
  margin: 3rem auto 0; /* 上 3rem / 左右 auto / 下 0.5rem */
  max-width: 120rem;             /* 必要に応じて幅を制限 */
  /* margin-top: 3rem;
  margin-bottom: .5rem; */
}

/*タブ切り替え全体のスタイル*/
.tab_menu {
  height: 47.5rem;
  background-color: #8FAADC;
  /* border-bottom-right-radius: .8rem; */
  /* border-bottom-left-radius: .8rem; */
  margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100% / 3);
  height: 5rem;
  background-color: rgb(223, 223, 223);
  line-height: 5rem;
  font-size: 1.6rem;
  text-align: center;
  color: black;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  cursor: pointer;
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 2.5rem 0rem 0rem;
  margin: 0 auto;
}

.tab_content_taking{
  width: 44.0rem;
  height: 25rem;
  background-color: white;
  border-radius: .8rem;
  margin: 5rem auto 0;
}

.tab_content_taking_box{
  margin-top: 1.0rem;
}

.tab_content_taking_box:first-child{
  padding-top: 1rem;
}

.tab_content_taking_name{
  width: 18rem;
  height: 2rem;
  font-size: 2.0rem;
  margin-left: 1rem;
  /* padding-left: .2rem; */
  text-align: left;
  vertical-align: middle;
  display: inline-block;
}

.tab_content_taking_amount_input{
  width: 4rem;
  height: 2.5rem;
  font-size: 2rem;
  margin-left: 2.8rem;
  text-align: right;
  padding-right: .5rem;
  vertical-align: middle;
}

.tab_content_taking_amount_text{
  width: 2rem;
  height: 2rem;
  font-size: 2.0rem;
  vertical-align: middle;
}

.tab_content_taking_amount_time{
  width: 9rem;
  height: 2.5rem;
  font-size: 2.0rem;
  margin-left: 1rem;
  text-align: center;
  vertical-align: middle;
}

.tab_content_taking_recycled_img{
  width: 1.5rem;
  margin-left: .8rem;
  vertical-align: top;
  padding-top: .2rem;
}

.tab_content_taking_recycled_img:hover{
  cursor: pointer;
}

.tab_content_taking_button{
  color: white;
  font-weight: bold;
  border: .1rem solid #0066cc;
  border-radius: .8rem;
  background-color: #0066cc;
  padding: 1rem 4rem;
  margin-top: 1.5rem;
  margin-left: 32rem;
}

.tab_content_taking_button:hover{
  cursor: pointer;
}

.tab_content_already_area{
  width: 44.0rem;
  height: 16.5rem;
  border-radius: .8rem;
  margin: 0 auto;
}

.tab_content_already_medicine{
  width: 37.0rem;
  height: 4.8rem;
  border: .1rem solid black;
  border-radius: .8rem;
  background-color: #acd5ff;
  margin: 1.0rem auto 0;
}

.tab_content_already_img{
  width: 3.5rem;
  margin-left: 1rem;
  vertical-align: top;
  padding-top: .6rem;
}

.tab_content_already_medicine_name{
  width: 22rem;
  font-size: 2.0rem;
  display: inline-block;
  vertical-align: top;
  margin-left: 4rem;
  padding-top: .8rem;
}

.tab_content_already_plus_img{
  width: 3.2rem;
  margin-left: 1.6rem;
  vertical-align: top;
  padding-top: .6rem;
}

.tab_content_already_plus_img:hover{
  cursor: pointer;
}

.tab_content_information_area{
  width: 44.0rem;
  height: 12.0rem;
  border-radius: .8rem;
  margin: 4rem auto 0;
}

.tab_content_information_medicine{
  width: 37.0rem;
  height: 4.8rem;
  border: .1rem solid black;
  border-radius: .8rem;
  background-color: #acd5ff;
  margin: 1.0rem auto 0;
}

.tab_content_information_medicine:first-child{
  background-color: rgb(223, 223, 223);
}

.tab_content_information_img{
  width: 3.5rem;
  margin-left: 1rem;
  vertical-align: top;
  padding-top: .6rem;
}

.tab_content_information_medicine_name{
   width: 22rem;
  font-size: 2.0rem;
  display: inline-block;
  vertical-align: top;
  margin-left: 4rem;
  padding-top: .8rem;
  padding-bottom: 5rem;
}

.tab_content_information_triangle_img{
  width: 3.2rem;
  margin-left: 1.6rem;
  vertical-align: top;
  padding-top: 1.0rem;
}

.tab_content_information_triangle_img:hover{
  cursor: pointer;
}

.tab_content_enter_medicine{
  display: flex;
  justify-content: space-around;
  margin-right: 4.6rem;
}

.tab_content_enter_plus_image{
  width: 3.2rem;
  height: 3.2rem;
  margin-left: 1.6rem;
}

.tab_content_enter_plus_image:hover{
  cursor: pointer;
  left: 2px;
}

.tab_content_enter_detail{
  margin-top: .6rem;
}

.tab_content_enter_name{
  font-size: 1.8rem;
  font-weight: bold;
}

.tab_content_enter_input{
  height: 3rem;
  width: 26.0rem;
  display: inline-block;
  vertical-align: top;
  margin-left: 1.8rem;
  padding-left: 1.0rem;
}
.tab_content_enter_select{
  height: 3.5rem;
  width: 27.4rem;
  display: inline-block;
  vertical-align: top;
  margin-left: 1.8rem;
  padding-left: 1.0rem;
}

.tab_content_enter_button{
  color: white;
  font-weight: bold;
  border: .1rem solid #0066cc;
  border-radius: .8rem;
  background-color: #0066cc;
  font-size: medium;
  padding: 1rem 4rem;
  margin-top: 2rem;
  margin-left: 23.5rem;
}

.tab_content_enter_button:hover{
  cursor: pointer;
}

/* 服薬履歴 */
.tab_content_history_select{
  display: flex;
  width: 44rem;
  justify-content:flex-start;
  margin: 5.0rem auto 1.5rem;
}

.tab_content_history_from_select,
.tab_content_history_to_select
{
  width: 18rem;
  height: 4.5rem;
  border: .1rem solid black;
  border-radius: .8rem;
  font-size: 1.8rem;
  text-align: center;
}

.tab_content_history_from_option,
.tab_content_history_to_option{
  text-align: center;
}

.tab_content_history_symbol{
  font-size: 2.2rem;
  font-weight: bold;
  margin: auto 1rem;
}









/* ここから */
/* 枠線など */
.tab_content_history{
  width: 46.0rem;
  height: 32.0rem;
  background-color: white;
  border-radius: .8rem;
  margin: 0 auto 4rem;
}

.tab_content_history_divide{
  /* margin-top: 4rem; */
  margin-left: 5rem;
  padding-top: 0.8rem;
  /* text-align: left; */
  /* margin: 0 auto; */
}

/* 各日の記録（時間・薬・量のセットを縦に並べる） */
.tab_content_history_flex {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
}


/* 上付き */
/* 日付（月日） */
.tab_content_history_date {
  width: 5rem;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: .5rem;
  color: #333;

  display: block;
}

/* 下付き */
/* 服薬時刻 */
.tab_content_history_time {
  width: 5rem;
  font-size: 1.8rem;
  /* margin-left: auto; */
  text-align: right;
}

/* 服薬名 */
.tab_content_history_medicine{
  width: 22rem;
  font-size: 1.8rem;
  margin-left: 2rem;
  text-align: left;
}
/* 用量 */
.tab_content_history_amount{
  width: 3rem;
  font-size: 1.8rem;
  text-align: left;
}




/*選択されているタブのコンテンツのみを表示*/
#tab-all:checked ~ #tab-all-content,
#tab-programming:checked ~ #tab-programming-content,
#tab-design:checked ~ #tab-design-content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tab_menu_input:checked + .tab_item {
  background-color: #8FAADC;
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 768px){

  .tab_content_taking{
    width: 48.0rem;
    /* height: 22.3rem;
    background-color: white;
    border-radius: .8rem;
    margin: 5rem auto 0; */
  }

  .tab_content_enter_plus_image{
    margin-left: 3rem;
  }

  .tab_content_enter_medicine{
    margin-right: 6.5rem;
  }

  .tab_content {
    display: none;
    padding: 2.5rem 0rem 0;
    margin: 0 auto;
  }
  
  .tab_content_taking{
    width: 44.5rem;
    height: 22.3rem;
    background-color: white;
    border-radius: .8rem;
    margin: 5rem 1rem 0;
  }
  /*.tab_content_taking_box{
  
  }*/

  /* .tab_content_history_select{
    display: flex;
    width: 40rem;
    justify-content: space-between;
    margin: 5rem auto 0;
  } */

}