@charset 'UTF-8';
/* ユーザー情報 */
.userinfo_sub_title{
     font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5rem;
}
/* ニックネーム */
.userinfo_nickname_title{
    font-size: 2rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
}
/* さだまさし */
.userinfo_nickname{
    font-size: 2.5rem;
    margin-left: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}
/* 疾患名 */
.userinfo_disease_title{
     font-size: 2rem;
    margin-left: 2rem;
     margin-bottom: 3rem;
}
/* ユーザー保持疾患名 */
.userinfo_disease{
     font-size: 2.5rem;
    margin-left: 2rem;
     text-align: center;
      margin-bottom: 3rem;
}
.userinfo_flex{
    display: flex;
    justify-content: space-around;
}
/* 雲画像 */
.userinfo_img{
    width: 20rem; 
    margin-left: 5rem;
    margin-bottom: 5rem;
}
/* 編集ボタン */
.userinfo_edit{
     width: 8rem;
     height: 3rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 2.3rem;
  /* display: block; */
  border: .1rem solid #0c0c0c;
  background-color: #fdfdfd;
  text-align: center;
    line-height: 2.8rem;
  /* padding: 0rem 1rem; */
   margin-top: 12rem;
  /*margin-left: 10rem;
  margin-bottom: 3rem; */
}
/* .userinfo_cloudedit{

} */
