<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webapp.repository.LoginMapper">

	<select id="selectByAddress"
		resultType="com.example.webapp.entity.Account">
		SELECT address, password
		FROM accounts
		WHERE address = #{address}
	</select>
	
</mapper>