<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>アカウント登録完了</title>
  
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/confirm.css">
</head>
<body class="common_body">

  <div class="wrapper">
    <header class="common_header"></header>

    <div class="common_content">
        <p class="style_sub_title">アカウント登録</p>
        <div class="complete_image_area">
          <img src="/images/cloud_transparent.png" alt="雲のアイコン" class="complete_image">
        </div>
        <p class="complete_message">登録が完了しました。</p>
        <div class="style_certificate_button_area">
          <a th:href="@{/select}" class="style_certificate_button">ログイン画面へ進む</a>
        </div>
    </div>

    <footer class="common_footer"></footer>
  </div>
  
</body>

</html>