<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ホーム</title>
</head>

<body>
	<h2>ホーム画面</h2>
	<p>今日の日付は [[${diary.date}]] です。</p>
	<h4>気分</h4>
	<p>[[${diary.feeling}]]</p>
	<h4>本文</h4>
	<p>[[${diary.text}]]</p>
	
	<h4>服薬情報</h4>
	<div th:each="dailytaking: ${dailyTakings}">
		<a>[[${dailytaking.medicineName}]]：[[${dailytaking.takingTime}]]</a>
	</div>
	
	<h4>リアクション</h4>
	<div th:if="${isPatient}">
		<div th:each="dailyReaction: ${dailyReactions}">
			<a>[[${dailyReaction.nickName}]]：[[${dailyReaction.stamp}]]
				：[[${dailyReaction.comment}]]
			</a>
		</div>
		<a th:href="@{/post}">日記編集</a>
	</div>
	
	<div th:unless="${isPatient}">
		<a>スタンプ：[[${reaction.stamp}]]</a>
		<a>コメント：[[${reaction.comment}]]</a>
		<a th:href="@{/reaction}">リアクション編集</a>
	</div>
	
</body>

</html>