<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./images/favicon_transparent.ico" type="image/x-icon">
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/common.css">
  <title>(Index)きょうのきもち</title>
</head>
<body class="common_body">

  <!-- ヘッダー -->
  <header class="common_header wrapper">
    <script src="./js/header.js"></script>
  </header>

  <!-- メインコンテンツ -->
  <div class="common_content wrapper">
    <main>
      <!-- ページタイトル -->
      <!-- <h1 class="kyono-title">KYO NO KIMOCHI</h1> -->
      <p class="style_sub_title">アカウント登録</p>

      <!-- 登録フォーム -->
      <div class="style_certificate_area">
        <div class="style_certificate_input_area">
          
          <!-- メールアドレス -->
          <p class="style_certificate_mail">メールアドレス(ID)</p>
          <input type="text" name="user" class="style_certificate_input_user" placeholder="メールアドレス">

          <!-- パスワード -->
          <p class="style_certificate_mail">パスワード</p>
          <input type="password" name="password" class="style_certificate_input_pass" placeholder="パスワード">

          <!-- パスワード再入力 -->
          <p class="style_certificate_mail"></p>
          <input type="password" name="confirmPassword" class="style_certificate_input_pass" placeholder="パスワード再入力">

          <!-- 登録ボタン -->
          <div class="style_certificate_button_area">
            <a class="style_certificate_button" href="./main.html">登録</a>
          </div>

        </div>

        <!-- エラーメッセージ -->
        <p class="style_certificate_cerror_message">パスワードが一致しません</p>
      </div>
    </main>
  </div>

  <!-- フッター -->
  <footer class="common_footer wrapper">
    <script src="./js/footer.js"></script>
  </footer>

</body>
</html>
